* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

body {
    background-color: #FFDD95;
}

.tela {
    background-color: #FFD274;
}

.b-roxo{
    border-color: #86A8FF;
}

.roxo{
    background-color: #86A8FF;
}

.linha {
    background-color: #86A8FF;
    border-color: #86A8FF;
}

.b-azul-escuro{
    border-color: #06038F;
}

.azul-escuro{
    background-color: #06038F;
}

.letra-azul{
    color: #06038F;
}

.pt-editado{
    padding-top: 5%;
}

.h-editado{
    height: 70%;
}

.min-h{
    min-height: 20%;
}

.max-h-telaAgendamento{
    max-height: 66.66%;
}

.max-h{
    max-height: 10%;
}

.hr-transicao {
    transition: width 0.3s ease-in-out;
}
.expandirAdd {
    height: 37% !important; /* Permite que a altura se ajuste ao conteúdo */
    transition: height 0.5s ease-in-out;
}

#divAdicionar, #divFiltroRapido{
    width: 12%;
}

.expandirFiltro {
    height: 50% !important;
    transition: height 0.5s ease-in-out;
}

.w-id{
    width: 5%;
}

.w-nome{
    width: 40%;
}

.w-item{
    min-width: 101% !important ;
}

.h-item{
    min-height: 18% !important;
}

.w-numero{
    width: 9%;
}

.w-acao{
    width: 5%;
}