* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFDD95;
}

.criacao {
    background-color: #FFD274;
}

.linha {
    background-color: #86A8FF;
    border-color: #86A8FF;
}

.z--1 {
    z-index: -1;
}

.h-editado {
    height: 77%;
}

.hr-transicao {
    transition: width 0.3s ease-in-out;
}
